.input {
    max-width: 377px;
  }
  
  .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  
    padding: 48px 0 0;
    margin: 0;
    list-style-type: none;
  }
  
  .resetButton {
    margin-left: 80px;
  }