.wrapper {
    display: flex;
    justify-content: center;
  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
    padding: 120px 0 0;
    margin: 0;
    list-style: none;
  }
  
  .list-element {
    margin: 0 16px 0 0;
  }
  
  .list-element:last-of-type {
    margin-right: 0;
  }
  
  .input {
    max-width: 377px;
    margin-right: 12px;
  }