.wrapper {
    display: flex;
    justify-content: center;
  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
    padding: 120px 0 0;
    margin: 0;
    list-style: none;
    gap: 16px;
  }
  
  .input {
    max-width: 377px;
    margin-right: 12px;
  }